.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.20);
}

/* Styles for individual logos */
.html {
  
  background:linear-gradient(45deg,#b45ff0,#11ccfbd0 );
}

.css {
  background-color: #264de4;
}

.java {
  background-color: #007396;
}

.sql {
  background-color: #e38c00;
}

.c {
  background-color: #e8ba02;
}

.cpp {
  background-color: #b504ac;
}

.csharp {
  background-color: #178600;
}

.python {
  background: linear-gradient(45deg, #306998, #ffe873);
}
